body.container {
  padding-top: 70px;
  padding-bottom: 230px;
}

/* 瞬時に最下部にスクロールする処理
:root {
  scroll-behavior: auto;
}
*/

.card {
  scroll-margin-top: 65px;
}

p.card-text {
  white-space: pre-wrap;
  word-break: break-all;
}